html{
    width: 100%;
    height: 100%;

}
body{
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;

}
.contenedor1{
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.link{
    width: 50%;
    justify-self: center;
    
}
.link_children{
    margin-bottom: 40px;
}

.contenedor1  , button{
    width: 100%;
    
}
button{
    /* background-color: rgb(140, 0, 255); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(128,0,255,1) 52%, rgba(1,0,8,1) 100%); 
    border-radius: 15px;
    color: white;
    height: 56px;
    font-size: x-large;
         /* [properties],[duration],[delay] */
    transition: font-size       1.5s    .3s,color 0.5s, box-shadow 1.5s;
}
button:hover,  button:focus{
    box-shadow: 0px 10px 25px rgb(119, 0, 255);
    font-size: 36px;
    color: magenta ;
}