/* src/css/AdminPanel.css */

/* Contenedor principal */
.admin-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.admin-panel-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Sección de gestión de usuarios */
.user-management-section,
.song-management-section,
.avatar-management-section {
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-management-section h2,
.song-management-section h2,
.avatar-management-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #444;
}

/* Formato de botones */
button {
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button.btn-danger {
  background-color: #dc3545;
}

button.btn-danger:hover {
  background-color: #c82333;
}

/* Sección de mensaje y lista de usuarios */
.local-storage-users {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.local-storage-users ul {
  list-style-type: none;
  padding: 0;
}

.local-storage-users li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.local-storage-users li:last-child {
  border-bottom: none;
}

.local-storage-users p {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

/* Sección de música */
.song-section {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song-section button {
  padding: 8px 12px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
}

.song-section button:hover {
  background-color: #218838;
}

.song-section audio {
  display: none;
}
